.calculator {
  display: flex;
  flex-wrap: wrap;
  width: 21rem;
}

.Screen {
  display: block;
  width: 100%;
  background-color: rgba(133, 134, 147, 255);
  text-align: right;
  padding: 0.9rem 0.18rem;
  color: white;
}

.Keypad {
  display: flex;
  flex-wrap: wrap;
}

.key {
  flex-basis: 25%;
  padding: 0.9rem;
  background-color: rgba(224, 224, 224, 255);
  border: 1px solid;
  border-color: rgba(209, 209, 209, 255);
  border-bottom-color: rgba(186, 186, 186, 255);
}

.key-operator {
  background-color: rgba(245, 145, 62, 255);
}

.zero {
  flex-basis: 50%;
}
